<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/style.css"/>
    <title>Document</title>
</head>
<body>
    <div id="navbar"></div>
    <div id="container"></div>
</body>
</html>
<script type="module">
let navbarDiv=document.getElementById("navbar")
import navbar from "../components/navbar.js"
import {getData,append,addtoCart} from "../scripts/showData.js"

navbarDiv.innerHTML=navbar()
let searchfood=document.getElementById("searchfood")
let btn=document.getElementById("submit-btn")
btn.onclick=()=>{
    main()
}

function main(){
let response=getData(`https://www.themealdb.com/api/json/v1/1/filter.php?c=${searchfood.value}`)
response.then((res)=>{
    let container=document.getElementById("container")
    append(res,container)
})
}
</script>